body {


font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(117, 197, 135); /* Color de fondo */

}


form {
    margin: 0 auto; /* Centramos el formulario */
    width: 300px;   /* Sin ancho no podemos centrar el formulario */
    background-color: rgb(74, 161, 233); /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
 }


 input, textarea {
    padding: 5px; /* Separamos la letra del interior (contenido) en los inputs de los bordes */
}